.knowledge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-knowledge {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.title-know {
  display: flex;
  color: rgb(25, 21, 29);
  padding-top: 30px;
  align-content: center;
  justify-content: center;
  align-items: center;
}
 
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(153, 150, 150);
  border-bottom: 10px;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 30px;
  border-radius: 20px;
  padding-bottom: 20px;
  background: rgb(227, 233, 238);
  font-size: 15px;
}

.conteiner-know-2 {
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 10px;
}

.icon-know {
  display: flex;
  justify-content: center;
  gap: 10px;
  background: rgb(166, 177, 172);
  width: 50px;
  border-radius: 50%;
}

.icon-know-1 {
  display: flex;
  gap: 10px;
  margin: 5px 0 5px;
  color: rgb(12, 27, 21);
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

h3 {
  margin: 5px 0 15px;
}

.icon-container {
  display: flex;
  align-items: center;
  animation: movimientoFondo 10s linear infinite;
  padding-left: 20px;
}


.i-know {
  align-content: center;
  justify-content: center;
  padding: 0 0 0 10%;
}

.h4-about {
  font-size: 20px;
}

.p-about {
  font-size: 15px;
}

.speed {
  margin-top: 20px;
  padding-left: 10px;
  width: 100px;
  color: blue;
}

.content-know {
  flex: 1;
  height: 100vh;
  padding: 20px;
}

.p-know {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  font-size: 20px;
  font-family: serif;
  padding-top: 15px;
}

.text-know {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  font-size: 20px;
  font-family: cursive;
  padding-top: 15px;
}

@media screen and (max-width: 768px) {
  .column {
    grid-template-columns: 1fr;
    margin-left: 30px;
    margin-right: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-right: 40px;
    padding-bottom: 20px;
  }

}

@media screen and (min-width: 769px) {
  .page-knowledge {
    flex-direction: row;
  }

  .column {
    margin-right: 30px;
  }
}
.i{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}