.footer {
    background-color: #000;
    color: #fff;
    align-items: center;
    padding-top: 20px;
    position: absolute;
    width: 100%;
}

.footer-column {
    padding-top: 10px;
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.column-title {
    font-size: 1rem;
    margin-bottom: 10px;
}

.column-content p {
    margin: 0;
    font-size: 1rem;
}

.footer-text {
    background: rgb(54, 53, 51);
    text-align: center;
    padding: 10px;
}

.footer-text span {
    display: inline-block;
    margin-right: 10px;
}

.footer-t {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px 0;
}

.footer-t .footer-text {
    width: 100%;
}

.icono-fb {
    color: rgb(64, 64, 168);
}

.icono-ins {
    color: rgb(126, 51, 133);
}

.icono-youtube {
    color: red;
}